<hr style="border:5px solid #002060"> </hr>

# pandas Fundamentals <hr style="border:4.5px solid #002060"> </hr>

## Introduction to pandas Series

Import the 'pandas' library to load it into the computer's memory, so that you can work with it in this Notebook Document.

<br/> *Note: Don't forget to use the widely-accepted convention as well.*

<br/> Remember that no matter how many times you execute this code cell, the library will be imported only once in this Document, and it will remain active.

Check the version of the library you just imported.

Create the **employee_names** list.

Verify the **employee_names** object is a list.

Create a pandas Series object containing the elements from the **employee_names** list. Call it **employee_names_Series**.

Confirm the object is of the Series type.

*Note: Feel free to take advantage of the Jupyter autocompletion feature. You can activate it through the Tab button while typing code.*

Now, create a Series object directly. That is, not from an existing list, but by using the following structure:
**pd.Series([...])**
<br/>Let the elements of the Series object be the following numbers: 5, 8, 3, and 10. Name the object **work_experience_yrs.**

Import the 'NumPy' package to load it into the computer's memory, so that you can work with it in this Notebook Document.

*Note: Don't forget to use the widely-accepted convention as well.*

Execute the code cell below to create the **array_1** NumPy array object.

In [ ]:
array_age = np.array([50, 53, 35, 43])
array_age

Verify the type of the **array_age** object:

Create a Series object called **series_age** from the NumPy array object **array_age** you just created.

Check the type of the newly created object.

Use the *print()* function to display the content of **series_age**.

## Working with Methods in Python

Consider the following Series object.

In [ ]:
employees_work_exp = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})

Use a certain method to extract the top five values from this Series.
<br/> *Please be aware that pandas may automatically display the values of the object as floats as opposed to integers.*

Use another method to extract the last few rows of **employees_work_exp**.

## Parameters and Arguments in pandas

## Parameters vs Arguments

Consider the following Series object.

In [ ]:
employees_work_experience = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})

Use a pandas method to retrieve the first three records of the object.

Use a pandas method to retrieve the last four records of the object.

## Using .unique() and .nunique()

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

Verify that **region_data** is a Series object.

Use the *.describe()* method to obtain descriptive statistics on the **region_data** Series.
<br>Think of how many unique values there are in the data set. 
<br>*Please note that the statistics provided in the output exclude missing data.*

You can obtain some of the values from the previous output by using Python built-in functions or methods. Please extract the total number of values from the **region_data** Series, then the number of unique values. Finally, obtain a list containing all unique values from this Series.

## Using .sort_values()

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

Sort the values without specifying any arguments.

*Please note that the numbers go from 1 to 18, but we are currently ordering the values as labels, not integers. 1 is succeeded by 10, then 11, and so on until 18. Then we have 2, 3, 4, etc., until 8, and eventually - 9.*

Sort the values, setting the *ascending* parameter equal to *True*.

Sort the values in **region_data** in descending order.

## Introduction to pandas DataFrames

Import the pandas and numpy libraries by using the relevant well-known conventions.

In [ ]:
import pandas as pd
import numpy as np

The goal of this exercise is to solidify your knowledge and understanding of the fundamentals of using pandas DataFrames.

Execute the next code cell to create the array called **array_c**.

In [ ]:
array_c = np.array([[1000, 50, 78.45], [700, 112, 35.5]])
array_c

Convert **array_c** into a DataFrame, called **company_statistics**. Assign the column names and row labels from the following lists as column names and index of this DataFrame, respectively.

In [ ]:
# column names
['No. of Employees', 'Avg. Annual Revenue ($)', 'Share price ($)']

In [ ]:
# row labels
['Company A', 'Company B']

Display the **company_statistics** DataFrame.

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

Verify that the obtained object is a pandas DataFrame.

Try out a well-known pandas method used for Series on this DataFrame to obtain its last five rows.

## pandas DataFrames - Common Attributes

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

Return the index of the **sales_products_data** DataFrame.

Verify that **sales_products_data** is a RangeIndex object in an alternative way by using the **type()** funciton.

Retrieve and Index object containing all column names from the **sales_products_data** DataFrame.

You are requested to create a new DataFrame, called **df**, whose data is obtained from the the names of the columns of **sales_products_data** DataFrame, while the column names are obtained from the **new_column_names** list.
<br/><br/> First, execute the next cell to create **new_column_names**, and then in the next cell try creating the **df** DataFrame yourself (by helping yourself with the newly created **new_column_names** list).
<br/><br/> *Note: There are two ways to achieve this - one would be through utilizing the* **columns** *parameter, and the other â€“ with the help of the* **"columns"** *attribute. Choose whichever option you prefer (or why not try both!).*

In [ ]:
new_column_names = ['SaleID', 'Country', 'OrderMethod', 'Retailer', 'Line',
       'Type', 'Product', 'YearOfSales', 'Quarter', 'Revenue', 'Quantity',
       'Margin']

Display the "head" of the **df** DataFrame.

Use an attribute to obtain the index and column names of **df** in a single output field.

Think of **sales_products_data**. Check the information along its axes as well. 
<br/> Compare the output to the one from the previous code cell - are the index and column names different?

Use Python indexing on the code from the previous cell as an alternative way  to obtain the index and column names of **sales_products_data** as separate output.
<br/><br/> *Hint: You may want to open parentheses before applying the required indexing syntax!*

Use an attribute to obtain metadata about the types of data stored in the different columns of the **sales_products_data** DataFrame.
<br><br> *Hint: If you've worked correctly, the obtained output will inform you that just 4 columns are containing numeric values.*

Obtain a Numpy array containing all values of the **sales_products_data**.
<br/><br/> *Note: There are two ways to achieve this - one would be to use an attribute, while the other - use a method! Try both, but keep in mind that pandas developers advise us to stick to using the method.*

Verify that the obtained objects are NumPy arrays with the help of the "Type" function.

In [ ]:
Import the pandas and numpy libraries by using the relevant well-known conventions.

import pandas as pd
import numpy as np

Obtain the number of rows and columns in the **sales_products_data** DataFrame.

Check if the output obtained in the previous cell is a tuple.

## Data Selection in pandas DataFrames

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

Although we are not advised to, retrieve the data from the 'Product' column from the **sales_products_data** column *without* using the indexing operator **[ ]**.

Retrieve the data from the 'Product' column from the **sales_products_data** column by using the indexing operator **[ ]**.

Apply the **.tail()** method to the code you used in your previous response to obtain the last five rows from the "Product" column.

Although we are not advised to, retrieve the data from the 'Quarter' column from the **sales_products_data** column *without* using the indexing operator **.[ ]**.

Retrieve the data from the 'Quarter' column from the **sales_products_data** column by using the indexing operator **[ ]**.

Use any of the 4 previous examples to verify that the data obtained from a column of a DataFrame is actually stored in a Series object:

<br> Use a well-know attribute and attribute chaining to obtain information about the type of data stored in the "Revenue" column.

**Selecting multiple columns from a DF**

Use a list with column names within the indexing operator ([ ]) to extract data from the 'Revenue' and 'Quantity' columns from the **sales_products_data** DataFrame. Use the **.head()** method to only display the top five rows of the selection.  <br>
Solve the problem by using a single line of code.

Can you think of a more elegant way to obtain the same result? This option is more often encountered in professional work since it improves the legibility of your code.

## pandas DataFrames - Indexing with .iloc[]

In [ ]:
import pandas as pd

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

Select the data from the first row from the **sales_products_data** DataFrame (don't forget that in programming we start counting from 0!).

Select the data from the penultimate row from the **sales_products_data** DataFrame.

Select the value from the second row and sixth column of **sales_products_data** by using the **.iloc[]** accessor.
<br><br> *Hint: If you've worked correctly, you should obtain 'Cooking Gear'.*

Although we are not advised to, can you think of an alternative syntax that you can use to obtain the same information? 
<br> *Hint: You still need to use the **.iloc[]** accessor!*
<br><br> *Note: We are asking you to try this syntax out to make sure you are in control of obtaining the desired portion of the data regardless of the object it has been contained into. The syntax and tools are similar, while their utilization may differ.*

Use the **.shape** attribute to discover the largest numbers that you can use as arguments of the **.iloc[]** accessor.

Considering the values you just obtained, use the **.iloc[]** accessor find out the value that has been stored in the last row and farthest-to-the-right column.

Verify that you've obtained the correct value by applying the **.tail()** method to the **sales_products_data** DataFrame.
<br> Observe the value that is farthest to the right on the last row.

Prove that **.iloc[]** can be applied to a Series object such as **sales_products_data['Product']** as well (e.g. by obtaining the first element from this column).
<br><br> *Note: We are asking you to try this syntax out to make sure you are in control of obtaining the desired portion of the data regardless of the object it has been contained into. The syntax and tools are similar, while their utilization may differ.*
<br> *This note applies to this and the next task.*

Although we are not advised to, when working with a Series object, we can obtain the same output without using the **.iloc[]** indexer and using "classical" Python indexing. Can you try that out?

## pandas DataFrames - Indexing with .loc[]

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the 'SaleID' column as an index for this DataFrame throughout this exercise.*

Retrieve the values from the first row of the DataFrame by using the specified label-based index rather than the default numeric index.

By using the specified label-based index again, retrieve the information stored in the 'GrossMargin' column for the 4th sale.

Obtain a DataFrame containg the values stored in all columns for sales numbered 15, 235, and 1147 by using the **.loc[]** indexer.

With the help of the **.loc[]** indexer, select the last 5 records from the 'Year' column.